fhc-debug.log
.DS_Store
.idea/
node_modules/
tmp/*
*~
*.swp
.fhclocal/
src/appforms/dist/
dist/
libs/generated/lawnchair.js
test/sync/testServer
src/modules-cov/*
src-cov/*
src/appforms/tests/feedhenry.js
test/browser/browserified_tests.js
test/browser/feedhenry-latest-require.js
libs/generated/appForms/appForms-backbone.js
libs/generated/appForms/appForms-backboneRequireJS.js
libs/generated/appForms/appForms-core.js
libs/generated/appForms/appForms-core-no-v2.js
