<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.feedhenry.jssdk"
    version="0.0.2">
    <name>FH JS SDK</name>
    <description>FeedHenry JS SDK as a cordova plugin</description>
    <license>MIT</license>
    <keywords>FeedHenry, API</keywords>
    <repo>https://github.com/feedhenry/fh-js-sdk</repo>
    <issue>https://github.com/feedhenry/fh-js-sdk/issues</issue>
    
    <!-- see http://cordova.apache.org/docs/en/3.0.0/plugin_ref_spec.md.html#Plugin%20Specification for element details-->

    <js-module src="dist/feedhenry-latest.js" name="FHJSSDK">
      <merges target="$fh" />
    </js-module>
</plugin>